/*
  Abhishek Kumar Gupta
*/


body{
  background-color: #222233 !important;
  color: #fff !important;
  font-family: 'Open Sans', sans-serif !important;
}

.typehead li{
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid ;
    font-size: 16px !important;
}

.typehead li:hover{background-color: #5B5B74; }


.typehead{
  list-style: none;
  margin-left: -4%;
  padding-top: 5%;
}

li span{font-size: 16px;}
li p{color: blue; margin-bottom: 0px !important;}
.secType{

}

.searchBox{
  height: 50px !important;
  padding: 20px !important;
  font-size: 20px !important;
  color: #222233 !important;
}

.ticker:before, .ticker:after  {
  content: '-';
  color: #AACCFF;
  padding: 25px;
}


.desc{
  color: #AACCFF;
  font-size: 18px;
  line-height: 3em;
}

a{color: #FFFFFF!important; text-decoration: none !important}

footer {
  background-color: #157e8b;
  padding: 25px;
  text-align: center;
  margin-top: 36.5%;
}
